*.pyc
*.db

*.csv
*.sqlite

gerbers/
gerber/
*.zip

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
fp-lib-table
*~
_autosave-*
*.tmp
*-bak
rescue-backup/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml

build/
*.a
*.o

Pipfile.lock
*.egg-info
__pycache__/
venv/
