{% extends "layout.html" %}
{% block body %}

<style type="text/css">
td, tr {
  text-align: center;
  vertical-align: middle;
}
</style>

<table class="pure-table pure-table-striped">
	<thead>
		<tr>
			<th colspan="2"></th>
			<th colspan="2">Latest</th>
			<th colspan="2">Average (Last Hour)</th>
		</tr>
		<tr>
			<th>Timestamp</th>
			<th>Sensor</th>
			<th>Temperature (C)</th>
			<th>Humidity (% RH)</th>
			<th>Temperature (C)</th>
			<th>Humidity (% RH)</th>
		</tr>
	</thead>
	<tbody>
{% for sample in samples %}
		<tr>
			<td>{{ sample.timestamp }}</td>
			<td>{{ sample.sensor_ch }}</td>
			<td>{{ sample.temperature }}</td>
			<td>{{ sample.humidity }}</td>
			<td>{{ sample.temperature_avg }}</td>
			<td>{{ sample.humidity_avg }}</td>
		</tr>
{% else %}
<tr>
	<td>:(</td>
</tr>
{% endfor %}
</tbody>
</table>
<h3>
{% if fridge_state %}
Fridge ON
{% else %}
Fridge OFF
{% endif %}
</h3>

{% endblock %}